
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: interBold;
  src: url(Fuente/Letra/Inter_18pt-Bold.ttf);
}

@font-face {
  font-family: interItalic;
  src: url(Fuente/Letra/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: interRegular;
  src: url(Fuente/Letra/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: interMedium;
  src: url(Fuente/Letra/Inter_18pt-Medium.ttf);
}

h2{
  font-family: interMedium;
  font-size: 30px;
}

h3{
  font-family: interMedium;
}

p{
  font-family: interRegular;
}

span{
  font-family: interRegular;
}

body {
  background: rgb(248, 249, 255);
  color: #040704;
}

/*Encabezado: menu*/

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  color: black;
  z-index: 2;
  background-color:#FEFEFF;

}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

nav a:hover {
  color:#2563EB;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: rgba(0,0,0);
  font-size: 14px;
  font-family: interMedium;
}

/* Encabezado:banner*/

.banner {
  height: 100vh;
  background:#F8F9FF;
  display: flex;
  align-items: center;
  padding: 0 60px;
  color: black;
  background-attachment: fixed;
}

.banner h1 {
  font-size: 64px;
  margin-bottom: 10px;
  font-family: interBold;
}

.banner h3{
  color: #004AC6;
}

.banner p {
  margin-bottom: 30px;
  font-size: 20px;
  max-width: 500px;
  font-family: interItalc;
}

.btn {
  padding: 12px 22px;
  border-radius: 6px;
  background: #2563EB;
  border: none;
  width: 200px;
  cursor: pointer;
  color: black;
  font-family: interMedium;
}

.btn:hover{
background: #F2F6DD;
color: #2563EB;
}


/* secciones*/
section {
  padding: 80px 60px;
  background: rgb(248, 249, 255);
}

/* seccion 2: mi*/
.mi {
  display: flex;
  gap: 40px;
}

.mi img {
  width: 450px;
  border-radius: 12px;
 
}

.mi h2 {
  margin-bottom: 15px;
  color: rgb(18, 28, 42);
  font-size: 40px;
}

.mi p{
  text-align: justify;
  padding: 5px;
  line-height: 1.9;
  color: #4B4E5D;
}

/* seccion 3: Habilidades*/


.seccion3 h2{
    text-align: center;
    margin-bottom:30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  height: 300px;
  margin: 12px;
}

.card h3 {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 25px;
  color: #121C2A;
}

.card div{
  background-color: #E9EFFD;
  width: 50px;
  border-radius: 5px;
}

.card div img{
    width: 30px;
    margin: 9px 6px;
}

.card span{
  background: #E9EFFD;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

/*seccion 4: Proyectos*/
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.seccion4 h2{
  margin-bottom:30px;
}

.productos div{
  background: white;
  border-radius: 12px;
 
  overflow: hidden;
}

.productos div img {
  width: 100%;
  height: 200px;
}  

.productos div div{
  padding: 15px;
}

.productos div div p{
  margin: 11px auto 20px auto;
  
}

.productos div div span{
  background: #E9EFFD;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

 .productos div div button{
  padding: 12px 22px;
  border-radius: 6px;
  background: #2563EB;
  border: none;
  width: 200px;
  cursor: pointer;
  color: black;
  font-family: interMedium;
  display: block;
  margin-top: 20px;
}

.productos div div button:hover{
  background: #F2F6DD;
  color: #2563EB;
}



/* Pie de pagina */
footer {
  background: #F8FAFC;
  color: black;
  padding: 60px;
}

.pie{
  padding: 30px;
}


